.change {
  &__form {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
  &__label {
    box-sizing: border-box;
    padding: 20px 0 10px 0;
    font-size: 24px;
    color: rgba(33, 51, 54, 0.8);
    &:first-of-type {
      padding-top: 40px;
    }
  }
  &__submit {
    width: 60%;
    margin: 40px 0;
  }
}
