.empty-room {
  font-family: "Montserrat";
  box-sizing: border-box;
  padding: 30px 0 20px 50px;
  &__text {
    color: rgba(33, 51, 54, 0.8);
    font-size: 40px;
  }
  &__button {
    background: var(--neobisColor) !important;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    padding: 10px 30px;
  }
  &__block{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  &__image {
      width: 300px;
  }
}
