.empty-room {
  font-family: "Montserrat";
  box-sizing: border-box;
  padding: 30px 0 20px 50px;
  &__text {
    color: rgba(33, 51, 54, 0.8);
    font-size: 40px;
  }
  &__button {
    background: var(--neobisColor) !important;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    padding: 10px 30px;
  }
  &__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__image {
    width: 300px;
  }
}
.rooms-event {
  &__top-side {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__select {
    width: 160px;
    font-family: "Montserrat";
    color: #1665d8;
    font-weight: bold;
    letter-spacing: 2px;
    @include media(
      (
        display: (
          tablet: none,
        ),
      )
    );
  }
  &__title {
    font-size: 26px;
    text-decoration: underline;
  }
}
.css-1uccc91-singleValue {
  color: #1665d8 !important;
}
