$text-color: rgba(33, 51, 54, 0.8);

.event-info {
  display: flex;
  &__content {
    display: flex;
    width: 50%;
    flex-direction: column;
    font-family: "Montserrat";
    color: $text-color;
    box-sizing: border-box;
    margin-left: 20px;
    position: relative;
    @include media((
      width: (tablet: 90%)
    ))
    &-title {
      color: #1665d8;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
      @include media(
        (
          font-size: (
            mobile: 18px !important,
          )
        )
      );
    }
    &-date {
      margin: 5px 0 0 0;
      font-size: 18px;
    }
    &-description {
      margin: 20px 0;
      font-size: 20px;
      font-weight: 500;
      @include media(
        (
          font-size: (
            mobile: 14px !important,
          )
        )
      );
    }
    &-address {
      margin: 5px 0 20px 0;
      font-size: 16px;
      &-image {
        width: 20px;
      }
    }
    &-right-image {
      max-width: 100%;
    }
    &-text {
      margin: 10px 0;
      font-size: 16px;
      color: #eb0f0f;
      &_deadline {
        color: #eb0f0f;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 0 10px 0;
      }
      &_m_t {
        // margin: 10px 0 0 0;
        font-size: 16px;
      }
      &_big_red {
        font-size: 18px;
        color: #eb0f0f;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    &-form {
      &-label {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 5px 0;
      }
      &-textarea {
        resize: none;
        max-width: 400px;
        min-width: 250px;
        box-sizing: border-box;
        outline: none;
        border: none;
        padding: 10px;
        display: block;
        font-family: "Montserrat";
        color: $text-color;
        background: #eceeff;
        border-radius: 5px;
      }
      &-submit {
        background: #eceeff;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        min-width: 200px;
        box-sizing: border-box;
        margin-top: 15px;
        padding: 6px 0;
        font-size: 18px;
        font-family: "Montserrat";
        color: $text-color;
        &:hover {
          text-shadow: 2px 2px 4px grey;
        }
        &:focus {
          animation: submitEffect 1s;
        }
      }
    }
  }
}

@keyframes submitEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
