$black-color: #3a3b3f;
$grey-color: #9ea0a5;
$text-size: 16px;
$col-width: 25%;
$height: 45px;
$blue-color: #1665d8;

.end-event-info {
  font-family: "Roboto";
  box-sizing: border-box;
  border: 1px solid rgba(63, 63, 68, 0.005);
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
    0px 1px 0px rgba(63, 63, 68, 0.05);
  border-radius: 4px;
  padding: 30px 30px 0 30px;
  margin: 0 0 0 20px;
  @include media((
    margin: (small: 0),
    padding: (small: 10px 10px 0 10px)
  ))
  &__title {
    color: $black-color;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    @media screen and (max-width: 640px) {
      display: block;
    }
    &-thead {
      @media screen and (max-width: 640px) {
        display: none;
      }
      & tr {
        text-align: left;
        height: $height;
        border-bottom: 1px solid #e4e7eb;
        & th {
          width: $col-width;
          font-size: $text-size;
          box-sizing: border-box;
        }
      }
    }
    &-tbody {
      @media screen and (max-width: 640px) {
        display: block;
      }
      &-date {
        color: $grey-color;
      }
      & tr {
        height: $height;
        @media screen and (max-width: 640px) {
          display: block;
          margin-bottom: 30px;
          height: auto;
        }
        & td {
          width: $col-width;
          font-size: $text-size;
          border-bottom: 1px solid #e4e7eb;
          @media screen and (max-width: 640px) {
            display: block;
            width: 50%;
            padding-left: 50%;
            position: relative;
            text-align: right;
            &::before {
              content: attr(data-label);
              position: absolute;
              left: 0;
              width: 50%;
              padding-left: 15px;
              font-weight: bold;
              text-align: left;
            }
          }
        }
        &:nth-of-type(even) {
          background-color: #fafffd;
        }
      }
    }
  }
  &__pagination {
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text_bold {
      display: inline-block;
      font-weight: bold;
    }
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      &-image {
        padding: 10px;
        box-sizing: border-box;
        margin: 0 15px;
        cursor: pointer;
      }
    }
  }
  &__submit {
    display: flex;
    justify-content: flex-end;
    &-button {
      margin: 20px 50px 0 0;
      background: $blue-color !important;
      border-radius: 5px;
      font-family: "Roboto";
      color: white;
      font-size: 18px;
      padding: 10px 25px;
      font-weight: bold;
      border: 2px solid $blue-color !important;
      &:hover {
        border: 2px solid $blue-color;
        background: white !important;
        color: $blue-color;
        transition: all 0.3s ease-out;
      }
    }
  }
}
