$black-color: #3a3b3f;
$grey-color: #9ea0a5;
$text-size: 16px;
$col-width: 25%;
$height: 45px;

.end-event-info {
  font-family: "Roboto";
  box-sizing: border-box;
  border: 1px solid rgba(63, 63, 68, 0.005);
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
    0px 1px 0px rgba(63, 63, 68, 0.05);
  border-radius: 4px;
  padding: 30px 30px 0 30px;
  &__title {
    color: $black-color;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 10px 0;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;

    &-thead {
      & tr {
        text-align: left;
        height: $height;
        border-bottom: 1px solid #e4e7eb;
        & th {
          width: $col-width;
          font-size: $text-size;
          box-sizing: border-box;
        }
      }
    }
    &-tbody {
      &-date {
        color: $grey-color;
      }
      & tr {
        height: $height;
        & td {
          width: $col-width;
          font-size: $text-size;
          border-bottom: 1px solid #e4e7eb;
        }
        &:nth-of-type(even){
            background-color: #fafffd;
        }
      }
    }
  }
  &__pagination {
    height: $height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-text_bold {
      display: inline-block;
      font-weight: bold;
    }
    &-buttons {
      display: flex;
      width: 30px;
      height: 100%;
      box-sizing: border-box;
      &-image {
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
